.wrap {}

header {display: flex}
header p {}
header p a {margin : 10px; width : 200px; height: 50px; background-color: antiquewhite; text-align: center; line-height: 50px}
header p a:hover {background-color: brown; color:aliceblue}